@model IEnumerable<Restoran.Models.Narudzba>

@{
    ViewData["Title"] = "Narudžba";
}

<h1>Pregled narudžbi</h1>
<a class="btn btn-primary" asp-action="Create" style="margin-bottom:20px; margin-top:20px;">Započni novu narudžbu</a>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Broj stola
                </th>
                <th>
                    Radnik
                </th>
                <th>
                    Vrijeme kreiranja
                </th>
                <th>
                    Vrijeme završetka
                </th>
                <th>
                    Ukupna cijena
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sto.BrojStola)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zaposleni.Ime) @Html.DisplayFor(modelItem => item.Zaposleni.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VrijemeKreiranja)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VrijemeZavrsetka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cijena)
                    </td>

                    <td>
                        <a href="@Url.Action("Index","Spisakzanarudzbu", new { narudzbaId = item.Id})">Detalji narudžbe</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Trenutno ne postoji ni jedna narudžba</p>
}

