@model IEnumerable<Restoran.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}
<h1>Pregled svih rezervacija <a class="btn btn-sm btn-outline-success" asp-action="Index">Važeće rezervacije</a></h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Kreiraj novu rezervaciju</a>
</p>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Podaci o gostu
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Datum)
                    </th>
                    <th>
                        Vrijeme rezervacije
                    </th>
                    <th>
                        Vrijeme važenja
                    </th>
                    <th>
                        Broj osoba
                    </th>
                    <th>
                        Broj stola
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PodaciGosta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VrijemeOd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VrijemeDo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrojOsoba)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sto.BrojStola)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

